<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="快艇骰子-房间号+${session.room.roomId}">Title</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="/local/js/stomp.js"></script>
    <script src="/local/js/jquery-3.6.0.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/bootstrap5/js/bootstrap.min.js"></script>
    <script src="/local/js/template.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/local/css/quick-website.css">
    <link rel="stylesheet" href="/bootstrap5/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/local/css/all.min.css">
    <script src="/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script type="text/html" id="seat-html" th:inline="javascript">
        <!-- Card -->
        <div class="col-md-2 btn" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="聊天框" data-bs-content="天选之人！">
            <div class="card" id="{{content.id}}">
                <div class="card-body pb-1">
                    <div class="pt-1 pb-1">
                        <img id="img-{{content.id}}" src="{{content.user.avatar}}" class="img-fluid img-center" style="height: 100px;" alt="头像">
                    </div>
                    <h5 class="h4 lh-130 mb-1 text-center">{{content.user.realname}}</h5>
                    <p class="text-muted mb-0 text-center">
                        历史最高分：{{content.user.historyRankVO.bestScore}}
                        <br>
                        胜率：{{content.user.historyRankVO.winPercent}}%  总局数：{{content.user.historyRankVO.playCount}}
                    </p>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="pre-half-html" th:inline="javascript">
        <tr class="table-success">
            <td class="h4" style="text-align: center; font-weight: bold;" colspan="2">{{user.realname}}</td>
            <td class="h4" id="one-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">-</td>
            <td class="h4" id="two-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">-</td>
            <td class="h4" id="three-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">-</td>
            <td class="h4" id="four-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">-</td>
            <td class="h4" id="five-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">-</td>
            <td class="h4" id="six-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">-</td>
            <td class="h4" id="smallSum-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">0/63</td>
        </tr>
    </script>
    <script type="text/html" id="post-half-html" th:inline="javascript">
        <tr class="table-success">
            <td class="h4" style="text-align: center; font-weight: bold;" colspan="2">{{user.realname}}</td>
            <td class="h4" id="sum-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">-</td>
            <td class="h4" id="kind4-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">-</td>
            <td class="h4" id="fullHouse-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">-</td>
            <td class="h4" id="smallStraight-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">-</td>
            <td class="h4" id="straight-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">-</td>
            <td class="h4" id="yahtzee-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">-</td>
            <td class="h4" id="totalSum-{{user.username}}" style="text-align: center; font-weight: bold;" colspan="2">0</td>
        </tr>
    </script>
    <script type="text/javascript" th:inline="javascript">
        var stompClient = null;
        var scoreIdList = ['one','two','three','four','five','six','sum'
            ,'kind4','fullHouse','smallStraight','straight','yahtzee','smallSum','bonus','totalSum'];
        var playerScoreIdList = [];

        var diceIdList = ['number1','number2','number3','number4','number5'];

        var lockDiceIndexList = [-1,-1,-1,-1,-1];

        var messageId = null;

        var dicePicList = ['/local/images/一点.png','/local/images/二点.png',
            '/local/images/三点.png','/local/images/四点.png',
            '/local/images/五点.png','/local/images/六点.png'];

        // var numberUrlList = [
        //     '<img class="img-fluid" src="/local/images/number-00.png" style="height: 10px; width: 10px;" alt="0">',
        //     '<img class="img-fluid" src="/local/images/number-01.png" style="height: 10px; width: 10px;" alt="1">',
        //     '<img class="img-fluid" src="/local/images/number-02.png" style="height: 10px; width: 10px;" alt="2">',
        //     '<img class="img-fluid" src="/local/images/number-03.png" style="height: 10px; width: 10px;" alt="3">',
        //     '<img class="img-fluid" src="/local/images/number-04.png" style="height: 10px; width: 10px;" alt="4">',
        //     '<img class="img-fluid" src="/local/images/number-05.png" style="height: 10px; width: 10px;" alt="5">',
        //     '<img class="img-fluid" src="/local/images/number-06.png" style="height: 10px; width: 10px;" alt="6">',
        //     '<img class="img-fluid" src="/local/images/number-07.png" style="height: 10px; width: 10px;" alt="7">',
        //     '<img class="img-fluid" src="/local/images/number-08.png" style="height: 10px; width: 10px;" alt="8">',
        //     '<img class="img-fluid" src="/local/images/number-09.png" style="height: 10px; width: 10px;" alt="9">'
        // ];

        // var numberSelectUrlList = [
        //     '<img class="img-fluid" src="/local/images/number-00.png" style="height: 10px; width: 10px; -webkit-filter: invert(100%)" alt="0">',
        //     '<img class="img-fluid" src="/local/images/number-01.png" style="height: 10px; width: 10px; -webkit-filter: invert(100%)" alt="1">',
        //     '<img class="img-fluid" src="/local/images/number-02.png" style="height: 10px; width: 10px; -webkit-filter: invert(100%)" alt="2">',
        //     '<img class="img-fluid" src="/local/images/number-03.png" style="height: 10px; width: 10px; -webkit-filter: invert(100%)" alt="3">',
        //     '<img class="img-fluid" src="/local/images/number-04.png" style="height: 10px; width: 10px; -webkit-filter: invert(100%)" alt="4">',
        //     '<img class="img-fluid" src="/local/images/number-05.png" style="height: 10px; width: 10px; -webkit-filter: invert(100%)" alt="5">',
        //     '<img class="img-fluid" src="/local/images/number-06.png" style="height: 10px; width: 10px; -webkit-filter: invert(100%)" alt="6">',
        //     '<img class="img-fluid" src="/local/images/number-07.png" style="height: 10px; width: 10px; -webkit-filter: invert(100%)" alt="7">',
        //     '<img class="img-fluid" src="/local/images/number-08.png" style="height: 10px; width: 10px; -webkit-filter: invert(100%)" alt="8">',
        //     '<img class="img-fluid" src="/local/images/number-09.png" style="height: 10px; width: 10px; -webkit-filter: invert(100%)" alt="9">'
        // ]

        var diceTaskId = null;

        function connect() {
            var socket = new SockJS([[${session.wsUrl}]]);
            stompClient = Stomp.over(socket);
            stompClient.connect({"user": JSON.stringify([[${session.user}]]),'room': JSON.stringify([[${session.room}]])}, function (frame) {
                //setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/'+[[${session.room.roomId}]], function (response) {
                    var parse = JSON.parse(response.body);
                    if(messageId == null || messageId < parse.id){
                        messageId = parse.id;
                    }
                    //坐下，显示玩家的信息
                    if(parse.code === 102){
                        seatDown(parse.content);
                    }
                    var ids = playerScoreIdList[parse.seat];
                    //收到广播开始游戏
                    if(parse.code === 104){

                    }
                    //收到抛出骰子的结果，需要填入到各项中
                    if(parse.code === 4){
                        setTimeout(()=>{
                            clearInterval(diceTaskId);
                            populateScores(parse.content, ids);
                            document.getElementById("playDice").innerText = "掷骰*" + parse.content.playTimes;
                        },1500);
                    }
                    //收到广播的选择分数结果
                    if(parse.code === 5){
                        resetDice();
                        populateSelectScores(parse.content, ids);
                    }
                    //收到游戏结束
                    if(parse.code === 111){
                        if(parse.content.winner != null){
                            alert("赢家为"+parse.content.winner.user.realname+"！");
                        } else {
                            alert("平局！");
                        }
                        window.location.href = '/';
                    }
                    //收到解散消息
                    if(parse.code === 109){
                        alert("房间已解散!")
                        window.location.href = '/';
                    }
                    //收到超时
                    if(parse.code === 113){
                        alert("房间超时已解散!")
                        window.location.href = '/';
                    }
                    //收到换人play的消息
                    if(parse.code === 105){
                        for (let i = 0; i < parse.content; i++) {
                            document.getElementById(i.toString()).style.backgroundColor = "#FFF";
                        }
                        document.getElementById(parse.seat.toString()).style.backgroundColor = "#FFEEBB";
                        resetDice();
                        disable();
                    }
                    //收到有人断线的消息
                    if(parse.code === 107){
                        document.getElementById("img-"+parse.seat).style.filter = "grayscale(100%)";
                    }
                    //收到有人在线的消息
                    if(parse.code === 108){
                        document.getElementById("img-"+parse.seat).style.filter = "";
                    }
                    //收到有人投骰子，展示动画
                    if(parse.code === 3){
                        lockDiceIndexList = parse.content;
                        let j = 0;
                        diceTaskId = setInterval(function (){
                            for (let i = 0; i < diceIdList.length; i++) {
                                if(lockDiceIndexList[i] === -1){
                                    document.getElementById(diceIdList[i]).src = dicePicList[j];
                                    if(i % 2 === 0){
                                        document.getElementById(diceIdList[i]).src = dicePicList[j];
                                    } else {
                                        document.getElementById(diceIdList[i]).src = dicePicList[dicePicList.length - 1 - j];
                                    }
                                }
                            }
                            if(j === dicePicList.length -1){
                                j = 0;
                            } else {
                                j++;
                            }
                        },50);
                    }
                    //收到锁骰子的广播，展示
                    if(parse.code === 7){
                        lockDiceIndexList = parse.content;
                        for (let i = 0; i < lockDiceIndexList.length; i++) {
                            var dice = document.getElementById(diceIdList[i]);
                            if(lockDiceIndexList[i] === 1){
                                dice.classList.add("img-select");
                            } else {
                                dice.classList.remove("img-select");
                            }
                        }
                    }
                });
                stompClient.subscribe('/user/'+[[${session.user.id}]]+'/'+[[${session.room.roomId}]], function (response){
                    var parse = JSON.parse(response.body);
                    if(messageId == null || messageId < parse.id){
                        messageId = parse.id;
                    }
                    var playDice = document.getElementById("playDice");
                    //询问开始游戏
                    if(parse.code === 104){
                        document.getElementById("start-game").disabled = false;
                    }
                    //询问投骰子还是选择分数
                    if(parse.code === 6){
                        setTimeout(()=>{
                            var times = parse.content.playTimes;
                            playDice.disabled = times <= 0;
                            playDice.innerText = "掷骰*" + times;
                            if(times != 3){
                                enable(parse.content.scores, parse.content.id);
                            }
                        },1500);
                    }
                    //收到重连
                    if(parse.code === 108){
                        resetDice();
                        let room = parse.content;
                        messageId = room.maxMessageId;
                        let currentPlayer = null;
                        for (let i = 0; i < room.playerList.length; i++) {
                            let player = room.playerList[i];
                            //展示玩家
                            seatDown(player);
                            let ids = playerScoreIdList[player.id];
                            //展示分数
                            populateSelectScores(player.scores, ids);
                            //获取当前进行回合的玩家
                            if(player.id === room.currentSeat){
                                currentPlayer = player;
                            }
                        }
                        //如果是正在选择分数的阶段
                        if(currentPlayer.playTimes < 3){
                            populateScores(currentPlayer, playerScoreIdList[currentPlayer.id]);
                            enable(currentPlayer.scores, currentPlayer.id);
                        }
                        //可以开始标记
                        if(room.roomStatus === 1 && room.owner.id === [[${session.user.id}]]){
                            document.getElementById("start-game").disabled = false;
                        }
                        //换人标记
                        if(room.roomStatus === 2){
                            document.getElementById(room.currentSeat.toString()).style.backgroundColor = "#FFEEBB";
                        }
                        //是否开启投骰子按钮
                        if([[${session.user.id}]] === currentPlayer.user.id && currentPlayer.playTimes > 0){
                            document.getElementById("playDice").disabled = false;
                        }
                        //展示骰子次数
                        document.getElementById("playDice").innerText = "掷骰*" + currentPlayer.playTimes;
                    }
                })
            },{});
        }

        function seatDown(player){
            document.getElementById("seat_list").innerHTML += template("seat-html", {content:player});
            if(player.user.id != [[${session.user.id}]]){
                document.getElementById("pre-half").innerHTML += template("pre-half-html",{user:player.user});
                document.getElementById("post-half").innerHTML += template("post-half-html",{user:player.user});
                var idList = [];
                for(var i=0; i<scoreIdList.length; i++){
                    idList.push(scoreIdList[i] + "-" + player.user.username);
                }
                playerScoreIdList.push(idList);
            } else {
                var idList = [];
                for(var i=0; i<scoreIdList.length; i++){
                    idList.push(scoreIdList[i] + "-my");
                }
                playerScoreIdList.push(idList);
            }
            reloadPopover();
        }

        function populateScores(player, ids){
            document.getElementById('number1').src = dicePicList[player.currentDices[0]-1];
            document.getElementById('number2').src = dicePicList[player.currentDices[1]-1];
            document.getElementById('number3').src = dicePicList[player.currentDices[2]-1];
            document.getElementById('number4').src = dicePicList[player.currentDices[3]-1];
            document.getElementById('number5').src = dicePicList[player.currentDices[4]-1];
            for (var i=0;i<player.currentScores.length;i++)
            {
                var elementById1 = document.getElementById(ids[i]);
                if(player.scores[i] === -1){
                    elementById1.innerHTML = player.currentScores[i];
                    elementById1.style.color = "red";
                } else {
                    elementById1.innerHTML = player.scores[i];
                }
            }
            if(player.scores[13] === 35){
                document.getElementById(ids[12]).innerText = "✓";
            } else {
                document.getElementById(ids[12]).innerText = player.scores[12] + "/63";
            }
            document.getElementById(ids[14]).innerHTML = player.scores[14];
        }

        function populateSelectScores(scores, ids){
            for (var i=0;i<scores.length;i++)
            {
                //13奖励分不填出来
                if(i != 13){
                    var elementById1 = document.getElementById(ids[i]);
                    elementById1.style.color = "black";
                    if(scores[i] === -1){
                        elementById1.innerHTML = "-";
                    } else {
                        if(i === 12){
                            if(scores[13] === 35){
                                elementById1.innerHTML = "✓";
                            } else {
                                elementById1.innerHTML = scores[i] + "/63";
                            }
                        } else {
                            elementById1.innerHTML = scores[i];
                        }
                    }
                }
            }
        }

        // function numberHtml(score, urlList){
        //     var ones = parseInt(score % 10);
        //     var tens = Math.trunc(score / 10);
        //     if(tens >= 10){
        //         tens = parseInt(tens % 10);
        //     }
        //     var hundreds = parseInt(score / 100);
        //     var html = "";
        //     if(hundreds != 0){
        //         html += urlList[hundreds];
        //         if(tens === 0){
        //             html += urlList[tens];
        //         }
        //     }
        //     if(tens != 0){
        //         html += urlList[tens];
        //     }
        //     html += urlList[ones];
        //     return html;
        // }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            //setConnected(false);
            console.log("Disconnected");
        }

        function playDice() {
            var playDice = document.getElementById("playDice");
            playDice.disabled = true;
            stompClient.send("/command",{}, JSON.stringify({'id': messageId, 'code': 3 ,'content': lockDiceIndexList}));
        }

        function startGame(){
            document.getElementById("start-game").disabled = true;
            stompClient.send("/command",{}, JSON.stringify({'id': messageId, 'code': 104}));
        }

        function enable(scores, seat){
            for (var i=0; i < 12; i++) {
                if(scores[i] === -1){
                    selectScore(i, playerScoreIdList[seat][i], seat);
                }
            }
            for (var i=0; i < diceIdList.length; i++){
                lockDice(i,diceIdList[i]);
            }
        }

        function selectScore(index, id, seat){
            document.getElementById(id).onmousedown = function (){
                stompClient.send("/command",{}, JSON.stringify({'id': messageId, 'code': 5,'content': index}));
                for (var i=0;i < 12; i++)
                {
                    document.getElementById(playerScoreIdList[seat][i]).onmousedown = null;
                }
            }
        }

        function lockDice(index, id){
            var dice = document.getElementById(id);
            dice.onmousedown = function (){
                if(lockDiceIndexList[index] === -1){
                    lockDiceIndexList[index] = 1;
                } else {
                    lockDiceIndexList[index] = -1;
                }
                stompClient.send("/public",{}, JSON.stringify({"code": 7, 'content': lockDiceIndexList, 'fromId': [[${session.user.id}]]}));
            }
        }

        //处理不是自己回合时，禁止一些操作
        function disable(){
            //禁止锁定骰子
            for (let i = 0; i < diceIdList.length; i++) {
                document.getElementById(diceIdList[i]).onmousedown = null;
            }
        }

        function resetDice(){
            for (var i=0; i < diceIdList.length; i++) {
                var dice = document.getElementById(diceIdList[i]);
                dice.src = dicePicList[5];
                dice.classList.remove("img-select");
                lockDiceIndexList[i] = -1;
            }
        }

        function dismissRoom(){
            stompClient.send("/dismiss",{},
                JSON.stringify({'code': 109}));
        }

        function reloadPopover(){
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl)
            })
        }
    </script>
    <style>
        .img-select {
            border:dashed 2px red;
            border-right:solid 2px red;
            border-top: solid 2px red;
            border-bottom: solid 2px red;
            border-left:  solid 2px red;
        }
    </style>
</head>
<body class="loaded" onload="connect()">
    <!-- Main content -->
    <section class="slice py-4">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-10 col-md-4 col-lg-6 order-md-2 text-center">
                    <!-- Section title -->
                    <div class="row justify-content-center text-center">
                        <div>
                            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="人数不足，无法开始">
                                <button id="start-game" onclick="startGame()" class="btn btn-primary" type="button" disabled>开始游戏</button>
                            </span>
                            <button onclick="dismissRoom()" class="btn btn-danger">解散游戏</button>
                        </div>
                    </div>
                </div>
                <div class="col-14 col-md-8 col-lg-6 order-md-1 pr-md-5">
                    <!-- Heading -->
                    <h1 class="display-4 text-center text-md-left">快艇骰子-房间号<strong th:text="${session.room.roomId}" class="text-primary">999999</strong>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-lg pt-lg-3 pb-lg-3 bg-section-secondary">
        <div class="container">
            <!-- Card -->
            <div id="seat_list" class="row">
                <!--添加座位框-->
            </div>
        </div>
    </section>
    <section class="slice slice-sm">
        <div class="container">
            <!--添加游戏主体 -->
            <div style="display: flex; justify-content: center">
                <div class="table-responsive">
                    <table class="table" style="text-align: center;table-layout:fixed;word-break:break-all;">
                        <thead class="table-warning">
                            <tr>
                                <th class="h4" style="text-align: center; font-weight: bold;" colspan="2">回合</th>
                                <th style="text-align: center;" colspan="2"><img class="img-fluid" src="/local/images/骰子_一点.png" style="height: 40px;" alt="一点"></th>
                                <th style="text-align: center;" colspan="2"><img class="img-fluid" src="/local/images/骰子_二点.png" style="height: 40px;" alt="二点"></th>
                                <th style="text-align: center;" colspan="2"><img class="img-fluid" src="/local/images/骰子_三点.png" style="height: 40px;" alt="三点"></th>
                                <th style="text-align: center;" colspan="2"><img class="img-fluid" src="/local/images/骰子_四点.png" style="height: 40px;" alt="四点"></th>
                                <th style="text-align: center;" colspan="2"><img class="img-fluid" src="/local/images/骰子_五点.png" style="height: 40px;" alt="五点"></th>
                                <th style="text-align: center;" colspan="2"><img class="img-fluid" src="/local/images/骰子_六点.png" style="height: 40px;" alt="六点"></th>
                                <th class="h4" style="text-align: center; font-weight: bold;" colspan="2">奖励35</th>
                            </tr>
                        </thead>
                        <tbody id="pre-half">
                            <tr class="table-primary">
                                <td class="h4" style="text-align: center; font-weight: bold;" colspan="2">己方</td>
                                <td class="h4" id="one-my" style="text-align: center; font-weight: bold;" colspan="2">-</td>
                                <td class="h4" id="two-my" style="text-align: center; font-weight: bold;" colspan="2">-</td>
                                <td class="h4" id="three-my" style="text-align: center; font-weight: bold;" colspan="2">-</td>
                                <td class="h4" id="four-my" style="text-align: center; font-weight: bold;" colspan="2">-</td>
                                <td class="h4" id="five-my" style="text-align: center; font-weight: bold;" colspan="2">-</td>
                                <td class="h4" id="six-my" style="text-align: center; font-weight: bold;" colspan="2">-</td>
                                <td class="h4" id="smallSum-my" style="text-align: center; font-weight: bold;" colspan="2">0/63</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table" style="text-align: center;table-layout:fixed;word-break:break-all;">
                        <thead class="table-warning">
                            <tr>
                                <th class="h4" style="text-align: center; font-weight: bold;" colspan="2">回合</th>
                                <th style="text-align: center;" colspan="2"><img class="img-fluid" src="/local/images/骰子_全选.png" style="height: 40px;" alt="全选"></th>
                                <th style="text-align: center;" colspan="2"><img class="img-fluid" src="/local/images/骰子_四条.png" style="height: 40px;" alt="四骰同花"></th>
                                <th style="text-align: center;" colspan="2"><img class="img-fluid" src="/local/images/骰子_葫芦.png" style="height: 40px;" alt="葫芦"></th>
                                <th style="text-align: center;" colspan="2"><img class="img-fluid" src="/local/images/骰子_小顺.png" style="height: 40px;" alt="小顺"></th>
                                <th style="text-align: center;" colspan="2"><img class="img-fluid" src="/local/images/骰子_大顺.png" style="height: 40px;" alt="大顺"></th>
                                <th style="text-align: center;" colspan="2"><img class="img-fluid" src="/local/images/骰子_快艇.png" style="height: 40px;" alt="快艇"></th>
                                <th class="h4" style="text-align: center; font-weight: bold;" colspan="2">总分</th>
                            </tr>
                        </thead>
                        <tbody id="post-half">
                            <tr class="table-primary">
                                <td class="h4" style="text-align: center; font-weight: bold;" colspan="2">己方</td>
                                <td class="h4" id="sum-my" style="text-align: center; font-weight: bold;" colspan="2">-</td>
                                <td class="h4" id="kind4-my" style="text-align: center; font-weight: bold;" colspan="2">-</td>
                                <td class="h4" id="fullHouse-my" style="text-align: center; font-weight: bold;" colspan="2">-</td>
                                <td class="h4" id="smallStraight-my" style="text-align: center; font-weight: bold;" colspan="2">-</td>
                                <td class="h4" id="straight-my" style="text-align: center; font-weight: bold;" colspan="2">-</td>
                                <td class="h4" id="yahtzee-my" style="text-align: center; font-weight: bold;" colspan="2">-</td>
                                <td class="h4" id="totalSum-my" style="text-align: center; font-weight: bold;" colspan="2">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: flex; justify-content: center; margin-top: 50px">
                <table border="0" cellspacing="0" width="300px;" style="text-align: center">
                    <tr>
                        <td style="text-align: center;" colspan="2"><img id="number1" class="img-fluid" src="/local/images/六点.png" style="height: 40px;" alt="6"></td>
                        <td style="text-align: center;" colspan="2"><img id="number2" class="img-fluid" src="/local/images/六点.png" style="height: 40px;" alt="6"></td>
                        <td style="text-align: center;" colspan="2"><img id="number3" class="img-fluid" src="/local/images/六点.png" style="height: 40px;" alt="6"></td>
                        <td style="text-align: center;" colspan="2"><img id="number4" class="img-fluid" src="/local/images/六点.png" style="height: 40px;" alt="6"></td>
                        <td style="text-align: center;" colspan="2"><img id="number5" class="img-fluid" src="/local/images/六点.png" style="height: 40px;" alt="6"></td>
                    </tr>
                </table>
                <button id="playDice" onclick="playDice()" class="btn btn-success" disabled>
                    掷骰
                </button>
            </div>
        </div>
    </section>
</body>
</html>